#about {
	font-size: 4em;
}

.biopics {
	height: 200px;
	width: 200px;
}

#bios {
	text-align: center;
}

.btn {
	margin-top: 2em;
}



#content .container {
	padding: 2em;
	text-align: center;
}

#content .container h1 {
	padding: 0.5em;
	font-size: 3em;
}

#content .container h3 {
	margin-top: 2em;
}

#datashot {
	height: 280px;
}

#exec {
	font-size: 4em;
}

#helpfulness {
	font-size: 4em;
}

.itempic {
	height: 50px;
}	

#oldButton {
	border-width: 2px;
}

.row {
	text-align: left;
}

.navbar {
	margin-left: : auto;
	margin-right: auto;
}

nav.navbar{
	background-color: #181C22;
	padding-top: 1em;
}

.navbar-default .navbar-nav>li>a {
	display: inline;
	color: white;
	font-size: 20px;
	font-variant: small-caps;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #FF8300;
}

.navbar-default .navbar-nav>li>a.active {
	color: #FF8300;
}

#expImg {
	height: 600px;
	margin-left: 8em;

}