

#content .container {
	padding: 2em;
	text-align: center;
}

#content .container h1 {
	padding: 0.5em;
	font-size: 3em;
}

#content .container h3 {
	margin-top: 2em;
}

.navbar {
	margin-left: : auto;
	margin-right: auto;
}

nav.navbar{
	background-color: #181C22;
	padding-top: 1em;
}

.navbar-default .navbar-nav>li>a {
	display: inline;
	color: white;
	font-size: 20px;
	font-variant: small-caps;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #FF8300;
}