<div style = "margin-top: 5em;">
<h1 id = "about">Team C.A.R.P.</h1>
<br /><br />

<section id = "bios">
			<div class = "container">
				<div class = "rows">
					<div class = "col-md-3">
						<img class = "biopics" src="img/arvind.jpg">
						<p>Arvind Krishnamoorthy</p>
						<p>karvi90@uw.edu</p>
					</div>
					<div class = "col-md-3"> 
						<img class = "biopics" src="img/coulter.jpg">
						<p>Coulter L'Hereuex</p>
						<p>ctl14@uw.edu</p>	
					</div>
					<div class = "col-md-3"> 
						<img class = "biopics" src="img/peter.jpg">	
						<p>Peter Lu</p>
						<p>lupeter@uw.edu</p>
					</div>
					<div class = "col-md-3">
						<img class = "biopics" src="img/rutvi.jpg">	
						<p>Rutvi Patel</p>	
						<p>rutvi@uw.edu</p>	
					</div>
				</div>
			</div>
		</section>
</div>