<div style = "margin-top: 4em;">
	<h1 id = "exec">Execution</h1>

	<h3>Our Data</h3>
	<section id = "data">
			<div class = "container exec">
				<div class = "row">
					<div class = "col-md-6">
						<p>Project data has been sourced from Julian McAuley at the University of California, San Diego. The data set contains product reviews and metadata from Amazon, including 142.8 million reviews spanning May 1996 - July 2014. The scope of this project will narrow focus to a subset of book reviews that has already been cleaned of duplicates by McAuley. This subset contains over 9 million book reviews. Each review contains the following: ReviewerID, asin, reviewerName, helpful, reviewText, overall, summary, unixRevewTime, and reviewTime.</p>
						
					</div>
					<div class = "col-md-6"> 
						<img id = "datashot" src="img/data.png">
					</div>
					
				</div>
			</div>
		</section>

		<h3>Our Methods</h3>
		<section id = "methods">
			<div class = "container exec">
				<div class = "row">
					<div class = "col-md-6">
						<p>Project data has been sourced from Julian McAuley at the University of California, San Diego. The data set contains product reviews and metadata from Amazon, including 142.8 million reviews spanning May 1996 - July 2014. The scope of this project will narrow focus to a subset of book reviews that has already been cleaned of duplicates by McAuley. This subset contains over 9 million book reviews. Each review contains the following: ReviewerID, asin, reviewerName, helpful, reviewText, overall, summary, unixRevewTime, and reviewTime.</p>
						
					</div>
					<div class = "col-md-6"> 
						<img id = "datashot" src="img/data.png">
					</div>
					
				</div>
			</div>
		</section>

</div>