<div class ="container" style = "margin-top: 4em;">
	<h1>Can You Help Me?: Scoring Amazon Review Helpfulness</h1>
	<h2>INFO 370: Introduction to Data Science</h2>
	<h4 style="font-weight: bold;">Arvindram Krishnamoorthy, Coulter L'Hereuex, Peter Lu, Rutvi Patel</h4>
	<h4>{karvi90, ctl14, lupeter, rutvi}@uw.edu</h4>
	<h3 id = "abstract">Abstract</h3>
	<p>In this project, we investigated the following question: “Can we predict the helpfulness score given a user-submitted product review?”. We focused on book reviews and received this data from Julian McAuley, an assistant professor of Computer Science at UCSD. Amazon provides a mechanism that allows users to vote on whether a particular review was helpful; we determined the ‘Helpfulness Score’ for a review as the product of the ‘Votes That Found It Helpful’ and the quotient of ‘Votes That Found It Helpful’ and ‘Total Voted’ to ensure that reviews were weighted appropriately. After some filtering and thresholding, we extracted several simple features from the review text, used the aforementioned ‘helpfulness score’, and utilized N-gram analysis, limited to unigrams and bigrams, to create a predictive model using a decision forest regression algorithm. We created a visualization to show how the predictive model compares to the test dataset.</p>


	<a class="btn btn-default" ui-sref="whatIs">Click to Explore!</a>


</div>