<div style = "margin-top: 5em;">
  <h1 id = "helpfulness">Helpfulness</h1>
  <h3>n. | similar to hĕlp′fəl</h3>
  <br />
  <h4>How we see it</h4><br />
  <p>Defining helpfulness is a difficult task. Helpfulness is a subjective measure that is dependent on context and individual experience. As such, defining “helpfulness” is entirely dependent on the individual reading the review. Fortunately, Amazon has implemented a system that allows users to self-report “helpfulness” of reviews by answering the question “Was this review helpful to you?”.
  <br /><br />
This helpfulness score is shown to shoppers as “[n] people found this helpful”. This feedback allows users to see how informative the review has been to others. This metric is also used to give higher visibility to more useful reviews by sorting reviews so that the most informative reviews are displayed first. A review can become more visible as more users vote or comment on it, therefore indicating that the review was helpful. Additionally, the number of responses on a particular review indicates support for that sentiment, lending more weight to the validity of the ideas expressed.
The helpfulness rating will be the objective measure of review helpfulness.</p>
</div>